* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  overflow: hidden;
  background-color: #000;
  background-image: url("./media/bgblur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: black;
}
